name: build-on-release
on:
  release:
    types:
      - published

jobs:
  build-and-push-tag-version-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image_tag: ${{ github.event.release.tag_name }}
      should_push_image: true
    secrets: inherit
